#MobileMenu
  display: flex
  flex-direction: column
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  z-index: 500
  background-color: #fff

.MobileMenuHidden
  display: none !important
