@import 'styles/fonts'

#AreaWrap
  display: flex
  flex-grow: 1
  flex-shrink: 0
  flex-direction: column
  padding-left: 5%

#AreaTitleCont
  display: flex
  flex-grow: 0
  flex-shrink: 0
  padding-bottom: 30px

#AreaTitle
  font-size: 1.5em
  font-family: $avenir_medium
  color: #000
