@import 'styles/fonts'

#AreaWrap
  display: flex
  flex-grow: 0
  flex-shrink: 0
  flex-direction: column
  padding-left: 5%
  max-width: calc(95% - 300px)

#AreaTitleCont
  display: flex
  flex-grow: 0
  flex-shrink: 0
  padding-bottom: 30px

#AreaTitle
  font-size: 1.5em
  font-family: $avenir_medium
  color: #000

#AreaDescriptionCont
  display: flex
  flex-grow: 0
  flex-shrink: 1
  width: 100%
  word-wrap: break-word
  font-size: 1.1em !important
  padding-bottom: 20px

#AreaDescriptionCont span:not(.vLink)
  font-family: $avenir_roman
  color: #000


#AreaDescriptionCont a, .vLink
  font-family: $avenir_roman
  color: #008cff
  text-decoration: underline
  cursor: pointer

  &:hover
    opacity: 0.75
    transition: 100ms



.AreaLinkCont
  display: flex
  flex-grow: 1
  flex-shrink: 0
  padding-top: 20px
  padding-bottom: 20px

.AreaLink
  font-size: 1.1em
  font-family: $avenir_roman
  color: #008cff
  text-decoration: underline
  cursor: pointer
  word-break: break-all

  &:hover
    opacity: 0.75
    transition: 100ms

@media (max-width: 800px)
  #AreaWrap
    padding-left: 0px
    max-width: 100%
